
    <div class="container">
          <div class="row">
            <div class="col-sm-6 footer-copyright">
                &copy; 2018 - <a href="#">LogisFleet</a>
</div>
            <div class="col-sm-6 footer-menu">
                <ul>
                    <li><a class="scroll-link" href="#top-content">Top</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
