@{
    ViewBag.Title = "CoolTask System- LogisFleet";
}
<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">LogisFleet</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <section class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Aktivasi Akun Melalui Email</h1>
                    </div>
                    <div class="panel-body">
                        <p class="text-primary">Sebuah email yang berisi link untuk aktivasi akun anda telah di kirim ke alamat email anda. Mohon cek email anda dan klik link konfermasi pada email anda.</p>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

@Html.Partial("_Footer")